<h2 class="text-center">About Quizzes & Trivia</h2><br />
<p>
    Quizzes & Trivia is an online testing application that enables the recruitment teams to assess their prospective IT employees in the fields they are interested in.
    This application tests the employees on the IT fields such as software development, cloud computing, artificial intelligence, information security and data science. Only
    one quiz per can be taken by a candidate at a time. To learn more about us, you can visit our social media networks or send a message to  us by clicking <a routerLink='contactus'  (click)="ToAnother()">here</a>

</p>


